.better.overlay {
	display: inline-block;	
}

.better.overlay figure {
	margin: 0;	
}

.better.subtle-effect {
	overflow: hidden;
	margin: 0;
	width: 100%;
	max-width: 1920px;
	list-style: none;
	text-align: center;
}

/* Common style */
.better.subtle-effect figure {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background: #000;
	text-align: center;
	cursor: pointer;
}

.better.subtle-effect figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
	max-width: none;
}

.better.subtle-effect figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.better.subtle-effect figure figcaption::before,
.better.subtle-effect figure figcaption::after {
	pointer-events: none;
}

.better.subtle-effect figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.better.subtle-effect figure h2 {	
	color: #fff;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.better.subtle-effect figure h2 span {
	font-weight: 800;
}

.better.subtle-effect figure h2,
.better.subtle-effect figure .effect-description {
	margin: 0;
}

.better.subtle-effect figure .effect-description {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Included for Phoebe and Winston because of the triangle svg */
figure.effect-phoebe figcaption::before {
	background: url(../images/triangle2.svg) no-repeat center center;
}


figure.effect-winston figcaption::before {
	background: url(../images/triangle.svg) no-repeat center center;
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */