/* IMAGE STOCK ELEMENT STYLE */
#better-stockimage-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	-ms-flex-pack: start;
	/* justify-content: flex-start; */
	justify-content: space-between;
	align-content: stretch;
	list-style: none;
	line-height: 1;
	margin-bottom: 1.5em;
}

#better-stockimage-wrap > .stock-image {
	margin: 2px;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: block;
	/* width: 144px; */
	width: calc(1/4*100% - (1 - 1/2)*10px);
	height: 145px;
	overflow: hidden;
	position: relative;
}

#better-stockimage-wrap > .stock-image:hover {
	cursor: pointer;
}

#better-stockimage-wrap > .stock-image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 39%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 39%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 39%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66000000',GradientType=0 );
	-webkit-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	opacity: .5;
}

#better-stockimage-wrap > .stock-image.active:after {
	content: "\f147";
	font-family: dashicons;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	background: #64cf64;
	border-radius: 50px;
	-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
  }

#better-stockimage-wrap > .stock-image:hover:before,
#better-stockimage-wrap > .stock-image.active:before {
	opacity: 1;
}

#better-stockimage-wrap > .stock-image img {
	width: 100%;
	height: 100%;
}

#better-stockimage-wrap .spinner {
	margin-left: auto;
	margin-right: auto;
}

#better-stockimage-wrap .stock-image__photo-info, 
#better-stockimage-wrap .stock-image__likes {
	position: absolute;
	bottom: 7px;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	max-width: 100%;
	left: 10px;
}

#better-stockimage-wrap .stock-image__photo-info--profile img {
	border-radius: 100px;
}

#better-stockimage-wrap .stock-image__photo-info--profile {
	display: inline-block;
	width: 25px;
	margin-right: 5px;
}

#better-stockimage-wrap .stock-image__photo-info--user {
	font-size: 10px;
	line-height: 12px;
}

#better-stockimage-wrap .stock-image__photo-info--user a {
	color: #fff;
	text-decoration: none;
	display: block;
}

#better-stockimage-wrap .stock-image__photo-info--user a:last-child {
	opacity: .7;
	font-style: italic;
}

#better-stockimage-wrap .stock-image__likes {
	top: 5px;
	bottom: auto;
	left: auto;
	right: 5px;
	color: #777;
	font-size: 10px;
	background: rgba(255, 255, 255, .9);
	border-radius: 3px;
	padding: 1px 7px;
}

#better-stockimage-wrap .stock-image__likes--icon {
	display: inline-block;
	width: auto;
}

#better-stockimage-wrap .stock-image__likes--icon span {
	color: #f15151;
	font-size: 15px;
	line-height: 20px;
}

/* DIVI */
.et-pb-option-container.betterbuilder-stock-image-search {
	width: 628px;
}

.et-pb-option-container.betterbuilder-stock-image-search > input {
	margin-bottom: 20px;
	width: 100%;
}

.et-pb-option-container #better-stockimage-wrap {
	width: 628px;
	float: right;
	margin-top: -20px;
}

.et-pb-option-container #better-stockimage-wrap > .stock-image {
	min-height: calc(1/4*100% - (1 - 1/2)*10px);
	height: auto;
}

.et-pb-option-container input.better-stockimage {
	display: none;
}

/* ELEMENTOR */
.elementor-control-content #better-stockimage-wrap > .stock-image {
    width: calc(1/2*100% - (1 - 1/2)*10px);
    height: auto;
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */